html {
   text-align: center;
   margin: 0 auto;
}

body {
   margin: 0 auto;
   width: 400px;
   text-align: left;
   font-family: "HelveticaNeue-Light";
}

h1 {
   font-family: "HelveticaNeue-UltraLight";
   font-weight: normal;
   float: left;
}

ul {
   padding: 18px 0 0 25px;
   float: left;
}

li {
   margin: 0 0 5px 0;
   list-style-type: none;
}

span {
   border: 2px solid transparent;
   -webkit-border-radius: 5px;
}

li.active span {
   background: #9f9;
   border-color: #9f9;
}

li.completed span {
   color: #999;
}